<h1>Olá Handlebars!</h1>
<p>O none do usuário é {{user.name}} {{user.surname}}</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae accusantium et aliquam, voluptates ut sit cumque corporis sunt veritatis, excepturi distinctio. Est dolorum nulla cum, quia ut soluta libero rerum.</p>